<div class="box1 min-h-screen flex justify-center items-center bg-gray-800 p-10">
  <div class="boxx flex flex-col justify-around w-full md:w-2/3 lg:w-1/2 h-auto bg-gray-700 border-solid border-4 rounded-lg border-gray-600 p-6">
    <%= form_with model: @question, data: { turbo: false } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="mb-6 bg-gray-600 p-4 rounded-lg">
        <%=f.label :role, class:"text-white mb-2"%>
        <%= f.select :role, Question.roles_i18n.invert, {include_blank: "カテゴリーを選択してください"}, class: "mb-3 sm:mb-0 mr-9 border border-line-200 rounded-[3px] rounded-[3px] py-3 pl-6 w-52 h-12 font-bold"%>
      </div>
      <div class="mb-6 bg-gray-600 p-4 rounded-lg">
        <%= f.label :title, class: "block text-white mb-2" %>
        <%= f.text_field :title, class: "w-full bg-gray-500 text-white p-2 rounded border border-gray-400 focus:outline-none" %>  
      </div>
      <div class="mb-6 bg-gray-600 p-4 rounded-lg">
        <%= f.label :content, class: "block text-white mb-2" %>
        <%= f.text_area :content, id: 'markdown-editor', class: "w-full bg-gray-500 text-white p-2 rounded border border-gray-400 focus:outline-none", rows: 4 %>
      </div>
      <div class="mb-6 bg-gray-600 p-4 rounded-lg">
        <%=f.label :deadline, class: "block text-white mb-2"%>
        <%=f.datetime_select :deadline, class: "w-full bg-gray-500 text-white p-2 rounded border border-gray-400 focus:outline-none"%>
      </div>
      <div class="mb-6 bg-gray-600 p-4 rounded-lg">
        <%= f.submit '投稿', class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none" %>
      </div>
    <% end %>
  </div>
</div>