<div class="p-4 lg:w-1/3">
  <div class="h-full bg-discord-dark bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
    <div class="mb-4">
    <p class= "text-white">締め切り</p>
    <p class="text-white mb-3 text-xl mb-5"><%= l question.deadline %></p>
      <%if question.state == "published"%>
      <p class="bg-yellow text-white text-center text-xl font-dotgothic border-2 border-double  border-black mb-4 rounded-full discord-blue"><%= question.state_i18n%><p>
      <%else%>
      <p class="text-white text-center text-xl font-dotgothic border-2 border-double mb-4 rounded-full "><%= question.state_i18n%><p>
      <%end%>
      <div class="flex justify-center items-center mb-2">
        <% if question.user.image? == true  %>
        <%= image_tag question.user.image, alt: question.user.name, class: "h-16 w-16 rounded-full" %>
        <%else%>
        <%= image_tag "1_test.png", alt: question.user.name, class: "h-16 w-16 rounded-full"%>
        <%end%>
        <h2 class="title-font sm:text-2xl text-xl font-medium text-white ml-4">
          <%= question.user.name %>
        </h2>
      </div>
      <div class="bg-discord-container fixed-height p-4 rounded-lg flex flex-col justify-center items-center">
        <p class="text-white font-bold "><%="🚀#{question.role_i18n}🚀" %></p>
        <h2 class="text-white font-bold mb-3 "><%= question.title %></h2>
      </div>
    </div>
    <%= link_to "質問詳細", question_path(question), class: "text-discord-blurple inline-flex items-center mt-4" %>
    <!---<%= link_to "チャット", chat_path(question), class: "text-discord-blurple inline-flex items-center mt-2" %> --->
    <%if question.user == current_user && question.state == "draft" %>
    <%= link_to "予約を修正する", new_question_reservation_path(question), class: "text-discord-blurple inline-flex items-center mt-2" %>
    <%end%>
    <%if question.state == "published"%>
    <%= link_to "投票する", index_vote_question_reservations_path(question), class: "text-discord-blurple inline-flex items-center mt-2" %>
    <%end%>
  </div>
</div>