<div class="min-h-screen h-full bg-gray-100">
  <div class="flex flex-col h-full items-center justify-start pt-8">
    <% @question.reservations.each do |reservation| %>
      <div class="bg-white p-4 m-2 rounded-lg shadow-md w-1/2">
        <div class="flex justify-between items-center">
          <div>
            <%= l(reservation.start_time, format: :short) %>
            <%= reservation.rank_i18n %>
          </div>
          <div>
            <!-- <%= link_to '削除', question_reservation_path(@question, reservation), data: { turbo_method: :delete }, class: "text-red-500 hover:text-red-700 ml-4" %>-->
          </div>
        </div>
      </div>
    <% end %>
    <div class="flex flex-col justify-center items-center">
      <div>このボタンを押したら最終決定するよ。募集を開始したら時間の変更と削除はできないから変更があったら今変更しておこう！</div>
      <div class="text-center">質問自体をクローズすることはできるよ！</div>
      <%=button_to "最終決定する",create_deadline_question_path(@question), class: "btn btn-primary "%>
      <%= link_to '戻る', question_reservations_path(@question), class: "text-red-500 hover:text-red-700 ml-4" %>

    </div>
  </div>
</div>