<div class="bg-gray-700 border-4 border-white my-10 mx-4 p-6 w-11/12 md:w-1/2 lg:w-1/3 xl:w-1/4">
  <div class="text-center flex items-center justify-center flex-col">
    <p><%= reservation.rank_i18n %></p>
    <%= l reservation.start_time, format: :long, class:"font-bold" %>
    <div class="mt-4 max-h-36 overflow-y-auto w-full">
      <p>投票者</p>
      <div class="flex flex-wrap gap-2 justify-center">
        <% reservation.votes.each do |vote| %>
          <div class="flex flex-col items-center">
          <% if vote.user.image? == true  %>
            <%= image_tag(vote.user.image, class: "w-12 h-12 object-cover rounded-full mb-1") %>
          <% else %>
          <%= image_tag "1_test.png", alt: question.user.name, class: "h-16 w-16 rounded-full"%>
          <%end%>
          <span><%= vote.user.name %></span>
          <%if current_user == vote.user%>
            <%= link_to "削除する",question_reservation_vote_path(question,reservation,vote),  data: { turbo_method: :delete }%>
            <%end%>
          </div>
        <% end %>
      </div>
    </div>
    <%= button_to "参加できる", question_reservation_votes_path(question, reservation), method: :post, class: "mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>