<div class="min-h-screen bg-gray-800">
  <div class="text-white text-3xl  border-4 border-double border-white w-1/2 p-3 mx-auto text-center my-8">
     🚀Discordに集まる募集日時を登録しよう🚀
    <p class="text-white text-center text-xl mt-3">募集時間は３つまで登録できるよ！</p>
    <p class="text-white text-center text-xl mt-3">投票締め切り時間は選択した中で1番早い募集時間の12時間前に自動で設定されるよ！</p>

  </div>

  <div class="max-w-xl mx-auto py-8">
    <%= form_with(model: [@question, @reservation], local: true, class: "bg-gray-700 shadow-md rounded px-8 pt-6 pb-8 mb-4 border-solid border-4 rounded-lg border-gray-600") do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="mb-6">
        <%= f.label :start_time, "開始時刻", class: "text-xl block text-white text-sm font-bold mb-2" %>
        <%= f.datetime_select :start_time, { minute_step: 60, start_hour: 9, end_hour: 23, start_year: 2023, end_year: 2024 }, class: "bg-gray-600 block appearance-none w-full  text-white rounded py-3 px-4 leading-tight focus:outline-none focus:border-discord-focus" %>
      </div>
      <div class="flex items-center justify-center">
        <%= f.submit "これで登録する", class: "bg-blue-500 hover:bg-blue-700 text-white  font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>

    <div class="flex justify-center mx-auto flex-col w-1/2">
    <% @question_reservations.each do |reservation| %>
      <% if reservation.persisted? %>
        <div class="border-2 border-white my-2 p-4">
          <%= link_to "削除する", question_reservation_path(@question, reservation), data: { turbo_method: :delete }, class: "text-white hover:text-white" %>
          <p class="text-white text-center text-xl"><%= l reservation.start_time, format: :long %>
          </div>
      <% end %>
    <% end %>
    </div>
    <div class="flex justify-center">
    <%= link_to "時間を登録したら次のSTEPへ(※最大３つまで登録できるよ)", question_reservations_path, class: "bg-blue-500 hover:bg-blue-700 text-white  font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  </div>
</div>


