<!DOCTYPE html>
<html>
  <head>
    <title>Link_Disco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= turbo_include_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&amp;subset=japanese" rel="stylesheet">  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">

    <%= display_meta_tags site: "Link_Disco" %>
  </head>

  <body class="min-h-screen flex flex-col">
  <%if logged_in?%>
    <%= render 'shared/header' %>
  <%else%>
    <%= render 'shared/before_login_header' %>
  <%end%>
  <%= render 'shared/flash_message' %>
  <%= yield %>
  <%= render 'shared/footer' %>
  </body>
  
</html>