<!DOCTYPE html>
<html>
  <head>
    <title>Link_Disco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= turbo_include_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&amp;subset=japanese" rel="stylesheet">  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Saki_y2000" />
    <meta property="og:title" content="ðŸš€Link_DiscoðŸš€" />
    <meta property="og:url" content="https://link-disco.onrender.com" />
    <meta property="og:description"
      content="ðŸ’«Disordã§é›†ã¾ã‚‹äººã‚’å‹Ÿé›†ã™ã‚‹ã‚µãƒ¼ãƒ“ã‚¹ã§ã™ðŸ’«">
    <meta property="og:image"
      content="https://link-disco.onrender.com/images/ogp.png"/>
  </head>

  <body class="min-h-screen flex flex-col">
  <%if logged_in?%>
    <%= render 'shared/header' %>
  <%else%>
    <%= render 'shared/before_login_header' %>
  <%end%>
  <%= render 'shared/flash_message' %>
  <%= yield %>
  <%= render 'shared/footer' %>
  </body>
</html>